{{define "layout/week"}}
  <!--- {{template "head" .}} --->
  <!--- {{template "header" .}} --->
  <main>
    {{template "context" .}}
    <!-- NOTHING -->
  </main>
  {{template "footer" .}}
{{end}}
