{{define "layout/week"}}
<!DOCTYPE html>
<html lang="en">
  <!--- {{template "head" .}} --->
  <!--- {{template "header" .}} --->
  <body>
  <main>
    {{template "context" .}}
    <!-- NOTHING -->
  </main>
  {{template "footer" .}}
  </body>
  </html>
{{end}}