{{define "layout/week"}}
<!DOCTYPE html>
<html lang="en">
  {{ template "head" . }}
  <body class="font-sans max-w-3xl mx-auto p-4 leading-relaxed">
  {{ template "header" . }}
    <main>
      {{ template "context" . }}
    </main>
  </body>
</html>
{{end}}