{{define "layout/app"}}
<!DOCTYPE html>
<html lang="en">
  {{template "head" .}}
  {{template "header" .}}
  <body>
    <main>
     {{template "context" .}}
    </main>
  {{template "footer" .}}
  </body>
  </html>
{{end}}
