{{define "layout/app"}}
<!DOCTYPE html>
<html lang="en">
  {{template "head" .}}
  {{template "header" .}}
  <body class="dark uk-theme-zinc bg-zinc-800">
    <main>
     {{template "context" .}}
    </main>
  {{template "footer" .}}
  </body>
</html>
{{end}}
