{{define "layout/app"}}
<!DOCTYPE html>
<html lang="en">
  {{template "head" .}}
  {{template "header" .}}
  <body class="max-w-3xl mx-auto p-4 leading-relaxed">
    <main>
     {{template "context" .}}
    </main>
  {{template "footer" .}}
  </body>
</html>
{{end}}
