{{define "layout/app"}}
<!DOCTYPE html>
<html lang="en">
  {{template "head" .}}
  {{template "header" .}}
  <!--<body class="dark inter uk-theme-zinc bg-zinc-900 text-primary p-10">-->
  <body class="inter uk-theme-zinc text-primary p-10">
    <main>
     {{template "context" .}}
    </main>
  {{template "footer" .}}
  </body>
</html>
{{end}}
