{{ define "partial/ux/navigation" }}
<ux-navigation class="w-full bg-zinc-800 text-zinc-50 fixed bottom-0 left-0 right-0 z-10">
    <ux-navigation-item href="/" class="rounded-md bg-zinc-700 px-2 py-12">
        <ux-icon color="#7DFCBC" data-lucide="sprout" name="home" class="size-14" stroke-width="1px"></ux-icon>
        <ux-navigation-item-label>Check In</ux-navigation-item-label>
    </ux-navigation-item>
    <ux-navigation-item href="/tools" class="rounded-md bg-transparent">
        <ux-icon color="#FCFCFC" data-lucide="tent" name="tools" class="size-14" stroke-width="1px"></ux-icon>
        <ux-navigation-item-label>Tools</ux-navigation-item-label>
    </ux-navigation-item>
    <ux-navigation-item href="/analyze" class="rounded-md bg-transparent">
        <ux-icon color="#FCFCFC" data-lucide="bar-chart-2" name="analyze" class="size-14" stroke-width="1px"></ux-icon>
        <ux-navigation-item-label>Analyze</ux-navigation-item-label>
    </ux-navigation-item>
    <ux-navigation-item href="/settings" class="rounded-md bg-transparent">
        <ux-icon color="#FCFCFC" data-lucide="settings-2" name="settings" class="size-14" stroke-width="1px"></ux-icon>
        <ux-navigation-item-label>Settings</ux-navigation-item-label>
    </ux-navigation-item>
</ux-navigation>
{{ end }}