{{define "index"}}
<script>
  document.addEventListener("uikit:init", () => {
    var bar = document.getElementById("js-progressbar");


    var animate = setInterval(function () {
      bar.value += 10;


      if (bar.value >= bar.max) {
        clearInterval(animate);
      }
    }, 1000);
  });
</script>


<main class="flex flex-col items-center">
<div class="flex flex-col items-center self-stretch gap-2">
    <h1 class="text-3xl font-bold">Welcome to {{ .Data.PageData.AppName }}</h1>
    <p class="text-lg">This is a simple progress bar example.</p>
<progress
  id="js-progressbar"
  class="uk-progress"
  value="10"
  max="100"
></progress>
</div>


</main>
{{end}}