{{define "index"}}
<script defer>
		window.trackEventListener(document, "appLoad", function () {
			const emotionsFelt = {{ .Data.PageData.emotions_felt}};
			const bar = document.getElementById("mood-meter");
			
			// Use a for loop to animate the progress bar
			for(var counter = 0; counter <= emotionsFelt; counter ++) {
				setTimeout(function() {
					bar.value += counter;
				}, 20 * (counter / 2));
			}
		});
</script>

<main class="flex flex-col items-center">
	<!-- Dynamic "mood meter" -->
	<div class="flex flex-col items-center self-stretch gap-2">
		<mood-meter-label class="w-full">
			<p class="uk-text-sm">{{ .Data.PageData.emotions_felt }} Emotions Felt Today So Far</p>
		</mood-meter-label>
		<progress id="mood-meter" class="uk-progress" value="0" max="100"></progress>
	</div>
	<!-- Content -->
	<section class="flex flex-col py-2 px-20 justify-center items-center gap-12 self-stretch flex-1">
		{{ template "partial/home/headline" . }}
	</section>
</main>
{{end}}