{{define "mood"}}
<script defer>
    // Nothing
</script>

<main class="flex flex-col items-center">
    <!-- Dynamic "mood meter" -->
    <div class="flex flex-col items-center self-stretch gap-2">
        <ul class="flex py-2 justify-center items-center self-stretch gap-2" data-uk-tab>
            <li class="uk-active"><button type="button" class="uk-btn bg-primary-glow text-zinc-900">Today</button></li>
            <li><button type="button" class="uk-btn uk-btn-default">Yesterday</button></li>
            <li><button type="button" class="uk-btn uk-btn-default">April - May</button></li>
            <li><button type="button" class="uk-btn uk-btn-default">June - Jul</button></li>
            <li><button type="button" class="uk-btn uk-btn-default">Aug - Sep</button></li>
        </ul>
    </div>
    <section class="flex flex-col pt-20 pb-64 justify-center items-center gap-12 self-stretch flex-1">
        <!-- Content -->
        <section class="flex flex-col py-2 px-20 justify-center items-center gap-32 self-stretch flex-1">
            <headline class="flex flex-col gap-20 py-16 justify-center items-center">
                <h1 class="uk-h1 playfair">{{/* .Data.PageData.Playlist */}}Your Playlist</h1>
                {{ template "partial/ux/music_player" . }}
            </headline>
        <ux-past-playlists-body class="flex flex-col items-start gap-8 self-stretch">
         {{ range .Data.PageData.Playlist }}
         {{/* . */}}
            <ux-border-glow class="p-1 rounded-md w-full flex items-center justify-start">
                <ux-past-playlist-item class="flex p-4 items-start gap-4 bg-zinc-900 rounded-lg self-stretch w-full">
                    <ux-avatar src="https://ui-avatars.com/api/?background=random"></ux-avatar>
                    <ux-past-playlist-item-inner class="flex flex-col items-start gap-2 self-stretch">
                        <ux-past-playlist-item-header>
                            <h3 class="uk-h3">{{ .title }}</h3>
                        </ux-past-playlist-item-header>
                        <ux-past-playlist-item-body class="flex flex-col items-start gap-6 self-stretch">
                            <p>{{ .artist }}</p>
                            <i><p>
                            {{ range .mood_tags }}
                                {{ . }},
                            {{ end }}
                            </p></i>
                            <button class="uk-btn bg-primary-glow text-zinc-900" onclick="window.pipedPlayer.play('{{ .title }} (audio)')">Listen to this track</button>
                        </ux-past-playlist-item-body>
                    </ux-past-playlist-item-inner>
                </ux-past-playlist-item>
            </ux-border-glow>
        {{ end }}
    </ux-past-playlists-body>
	        
        </section>
    </section>
</main>
{{end}}